@model SindTech.App.ViewModels.MoradorViewModel

<div class="row col-md-12">
    <div class="form-group col-md-6">
        <label asp-for="Contato.TipoContato" class="control-label"></label>
        <select asp-for="Contato.TipoContato" class="form-control">
            <option value="1">Telefone/Celular</option>
            <option value="2">Email</option>
        </select>
        <span asp-validation-for="Contato.TipoContato" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Contato.ValorContato" class="control-label"></label>
        <input asp-for="Contato.ValorContato" class="form-control" />
        <span asp-validation-for="Contato.ValorContato" class="text-danger"></span>
    </div>
</div>
